@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
:root{
    --primary-clr: #E9EDC9;
    --secondary-clr: #CCD5AE;
}
*{
    font-family: 'Delicious Handrawn', cursive;
}
body{
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 90px);
    background-image: url(media/board.png);
    background-size: contain;
    row-gap: 15px;
}
.cell{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-family: 'Delicious Handrawn', cursive;
    color: #902326;
}

.board > .cell:nth-last-child(-n+3){
    align-items: flex-end;
}
.board > .cell:nth-child(-n+3){
    align-items: flex-start;
}
.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-header{
    border-bottom: 1px solid black;
    padding: .5rem;
    display: flex;
    flex-direction: row-reverse;
}
.modal-body{
    padding: .5rem;
    text-align: center;
}
.modal-footer{
    display: flex;
    justify-content: center;
}
#close{
    font-size: 40px;
    cursor: pointer;
    background: transparent;
    border: none;
}
header{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-clr) ;
    box-shadow: 0px 5px 10px rgb(138, 145, 116);
    z-index: 1;
}
header img{
    width: 150px;
}

main{
    padding: 2rem;
    flex: 1;
    background-color: var(--primary-clr);
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.button{
    padding: .5rem 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin: 1rem;
    background-color: #FAEDCD;
    border: 1px solid #FEFAE0;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(138, 145, 116);
}

.sel-but{
    padding: .3rem .7rem;
    margin: 1rem;
    font-weight: bold;
    border: none;
    box-shadow: 0px 5px 10px rgb(138, 145, 116);
    border-radius: 5px;
}

.active{
    box-shadow: 0px 5px 10px rgb(110, 233, 137);
    background-color: rgb(0, 158, 34);
    color: #ffffff;
}

#my-canvas{
    position: fixed;
    top: 0px;
    z-index: 10;
    display: none;
    pointer-events: none;
}

input, option, select, .label, .play-type button{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.player-select#mul-play{
    display: none;
}

.label{
    margin: 1rem 1rem 1rem .3rem;
}